.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.Rolldice-container {
  display: flex;
}


.Dice-padding {
  padding-right: 2em;
  font-size: 4em;
}

.Dice-rolling {
  animation-name: jiggle;
  animation-duration: 2s;
}

@keyframes jiggle{
  0%{transform: translate(0,0);}
  20%{transform: translate(-10px,0);}
  60%{transform: translate(10px,0);}
  100%{transform: translate(0,0);}
}

/* Icon list  */

.Iconlist-padding {
  padding-right: .5em;
}

/* Lotto game  */

.LottoGame-balls {
  display: flex;
}

.LottoGame-padding {
  margin-right: 1em;
  background: red;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/*  Coin flipping */

.FlipGame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Coin-image {
  height: 100px;
}