.App {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Rolldice-container {
  display: flex;
}


.Dice-padding {
  padding-right: 2em;
  font-size: 4em;
}